body
{
    background-color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

}
#top
{

    margin-bottom: 10px;
    background-color: #f0f3db;
    width: 100%;
}

#topnav
{
    text-align: center;
}
.logo
{

    float: left;
}
.logo > a > img
{
    height: 100px;
    width: 200px;
}
.menu
{
    list-style-type: none;
    padding: 5px;
    font-size: 24px;
    min-height: 38px;
    float: right;
}
.menu > li
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0F3364;
}
.menu > li:last-child
{
    border-right: none;
}
.menu a
{
    color:#0F3364;
    text-decoration: none;
}
main
{
    background-color: white;

}
.categories
{
	margin-left: auto;
	margin-right:auto;
	width: 1000px;
	text-align: center;
	padding: 30px;
    color: #0F3364;
}
.categories h1
{
    font-size: 40px;
}
.categories p
{
    font-size: 24px;
    margin-bottom: 50px;
}
.categoryleft
{
    display: flex;
    background-color: #FFAA2A;
    text-align: justify;
    align-items: center;
    margin-bottom: 75px;
    width: 1000px;
}
.categoryright
{
    display: flex;
    background-color: #0F3364;
    color: #f5f5f5;
    text-align: justify;
    align-items: center;
    margin-bottom: 75px;
    width: 1000px;

}
.catimg
{
    display: inline-block;
    width: 460px;
    padding: 20px;

}
.catimg img
{

    width: 440px;
}
.cattxt
{
    display: inline-block;
    width: 480px;
    padding: 40px;
}
.cattxt h2
{
    font-size: 32px;
    text-align: center;

}
.cattxt p
{
    margin-bottom: 40px;
}
.btn
{
    position: relative;
    top: 50%;
    left: 35%;
    background-color: #9DECEF;
	padding: 15px;
	color: black;
	font-size: 19px;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;

}
footer
{
    background-color: #9DECEF;
    text-align: center;
}
.map
{
    font-size: 16px;
    display: inline-block;
    margin-right: 200px;
    text-align: center;
    vertical-align: top;

}
.map a
{
    text-decoration: none;
    color: #0F3364;
}

.info
{
    font-size: 16px;
    display: inline-block;
    margin-left: 200px;
    text-align: justify;
    color: #0F3364;
    vertical-align: top;
}
.info ul
{
    list-style-type: none;
}
.rights
{
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 10px;
}
.abouttxt
{
    text-align: justify;
}
.abouttxt h2
{
    text-align: center;
    font-size: 24px;
}
.abouttxt p
{
    font-size: 18px;
}
.logotext
{
    display: block;
    height: 250px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.prezes
{
    display: block;
    height: 320px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.abouttxt figure figcaption
{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.error
{
    text-align: center;
    font-size: 18px;
    color: #c00202;
}
.topblog
{
    width: 100%;

}
.addtime
{
    float: left;
    font-size: 12px;
}
.categorytag
{
    float:right;
    font-size: 12px;
}
.categorytag  a
{
    text-decoration: none;
    color: #314a77;
}
.blogpost p
{
    font-size: 18px;
    text-align: justify;

}
#blog
{
    margin-left: auto;
	margin-right:auto;
	width: 1000px;
	text-align: center;
	padding: 30px;
    color: #0F3364;
}
.posts
{
    width: 1000px;
}
.posts h2
{
    font-size: 32px;
}
.posts p
{
    font-size: 22px;
}
.post
{
    display: inline-block;
    margin-top: 20px;
    border: #0F3364;
    border-style: groove;
    border-radius: 3px;
    padding: 10px;

}
.postimg
{
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;

}
.postimg img
{
    width: 400px;
    height: auto;

}
.posttxt
{
    width: 500px;
    display: inline-block;
    vertical-align: top;
}
.postbtn
{
    text-align: center;
    padding-top: 20px;
}
.postbtn button
{
    background-color:#9DECEF ;
    color: #0F3364;
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}
.slider
{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}
.slides
{
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.slides img
{
    width: 100%
}
.dots
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dot
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9DECEF;
    margin: 0 5px;
    cursor: pointer;
}
.dot.active
{
    background-color: #0F3364; !important;
}