{% extends 'layout.html' %}
{% load static %}

{% block content%}
<div class="categories">
    <header>
        <h1>Canny Bee</h1>
        <p>
            Pozwól, że opowiemy Ci o sobie.
        </p>
        <figure>
            <img src="{% static "website/img/onas.png" %}" alt="o nas">
        </figure>
    </header>
    <div class="abouttxt">
        <h2>
            Na początek opowiemy Ci kim jesteśmy
        </h2>
        <p>
            Jesteśmy doświadczoną i dynamiczną agencją marketingową z silnym naciskiem na wyniki.
            Nasz zespół składa się z utalentowanych specjalistów, którzy łączą kreatywność z
            głęboką wiedzą techniczną, aby dostarczyć rozwiązania, które naprawdę działają.
            Współpracujemy z firmami z różnych sektorów, dostarczając indywidualnie dostosowane
            strategie, które pomagają naszym klientom osiągać swoje cele biznesowe. Z pasją podchodzimy
            do każdego projektu, angażując się w każdy detal, aby zapewnić najwyższe standardy usług.
            W naszej agencji zawsze stawiamy klienta na pierwszym miejscu, dążąc do tworzenia trwałych
            relacji opartych na zaufaniu, transparentności i doskonałych wynikach.
        </p>
        <p>
            W dobie cyfrowej transformacji, skuteczne strategie marketingowe są kluczowym elementem sukcesu
            każdego biznesu. W naszej Agencji Marketingowej rozumiemy, jak skomplikowany może być świat marketingu
            online. Dlatego oferujemy kompleksowe usługi, które pomagają firmom jak Twoja zwiększyć
            zasięg, zaangażowanie i konwersje.
        </p>

        <h2>
            Zarządzanie Social Media
        </h2>
        <p>
            Nasza agencja oferuje pełen zakres usług związanych z zarządzaniem social media.
            Tworzymy angażujące treści, monitorujemy aktywność na stronach i angażujemy się
            z odbiorcami, aby zbudować silne relacje z Twoją marką.
        </p>

        <h2>
            Content Marketing
        </h2>
        <p>
            Tworzymy oryginalne, wartościowe treści, które przyciągają i angażują Twoją grupę docelową.
            Nasz zespół ekspertów tworzy atrakcyjne treści na stronę internetową oraz na platformy social
            media, które poprawiają pozycjonowanie w Google i budują zaufanie do marki.
        </p>

        <h2>
            Kampanie Reklamowe Google Ads i Facebook Ads
        </h2>
        <p>
            Wykorzystując naszą wiedzę i doświadczenie w tworzeniu kampanii Google Ads i Facebook
            Ads, pomagamy zwiększyć zasięg Twojej firmy, przyciągnąć nowych klientów i zwiększyć sprzedaż.
        </p>

        <h2>
             Zarządzanie stroną internetową i SEO
        </h2>
        <p>
            Zarządzamy Twoją stroną internetową, dbając o jej aktualność, optymalizację SEO i łatwość nawigacji dla użytkowników.
            Nasz zespół ekspertów SEO pracuje nad poprawą widoczności Twojej strony w wynikach wyszukiwania.
        </p>

        <h2>
            Analityka Biznesowa z GA4
        </h2>
        <p>
            Korzystając z Google Analytics 4, dostarczamy szczegółowe analizy i raporty, które pomagają zrozumieć zachowanie użytkowników
            na Twojej stronie internetowej,a co za tym idzie - lepiej dostosować strategię marketingową do potrzeb Twojego biznesu.
        </p>

        <h2>
            Kampanie E-mail Marketingowe
        </h2>
        <p>
            Tworzymy skuteczne kampanie e-mail marketingowe, które pomagają utrzymać relacje z obecnymi klientami i przyciągnąć nowych.
            W naszej Agencji Marketingowej łączymy kreatywność z analitycznym podejściem, aby dostarczyć skuteczne strategie marketingowe,
            które prowadzą do realnych wyników. Nasza misja to pomóc Twojej firmie osiągnąć jej cele biznesowe poprzez skuteczny marketing cyfrowy.
            Skontaktuj się z nami już dziś, aby dowiedzieć się, jak możemy pomóc Twojej firmie odnieść sukces w świecie cyfrowego marketingu.
        </p>

        <h2>
            Nasza jednoosobowa wilcza sfora
        </h2>
        <figure>
            <img class ="prezes" src="{% static "website/img/me.jpg" %}" alt="prezes">
            <figcaption class="prezescaption">Krzysztof Piątek</figcaption>
        </figure>
        <p>
            Prezes, szef, ekspert. Swoją przygodę z digital marketingiem zacząłem w 2019 roku
            kiedy otworzyłem swój sklep internetowy. Podczas prowadzenia tego typu działalności
            zdobyłem cenny bagaż bogatego doświadczenia oraz uczucie, że to jest to czym chiałbym
            się zajmować. Kontynuowałem swoj rejs po marketingowym oceanie i po ukończeniu kursu
            Google i SGH umiejętności jutra postanowiłem podzielić się swoją wiedzą z innymi.
        </p>

        <figure>
            <img class ="logotext" src="{% static "website/img/LOGOandTEXT.png" %}" alt="logo">
        </figure>
    </div>

</div>

{% endblock %}