{% extends 'layout.html' %}
{% load static %}

{% block content%}
<div class="categories">
    <div class="blogpost">

        <header>
            <h2>
                {{ article.title }}
            </h2>
            <figure>
                <img src="{{image.photo.url}}" alt="{{ image.title }}" style="width: 100%">

            </figure>
        </header>
        <div class="topblog">
            <div class="addtime"><p>{{ article.data|date:"d.n.Y  h:m" }}</p></div>
            <div class="categorytag"><p> kategoria : <a href="/articles/category/{{ article.category.id }}">{{ article.category.name }}</a></p></div>
            <div style="clear:both"></div>
        </div>
        <p>
            {{ article.text|linebreaks }}
        </p>




    </div>
</div>
{% endblock %}