{% extends 'layout.html' %}
{% load static %}

{% block content%}
    <section id="blog">
        <div class="posts">
        <header>
            <h2>
                Witamy was na sekcji, zawierającej artykuły
            </h2>
            <p>Zapoznaj się z nimi aby poszerzyć swoją wiedze </p>
            {% if catname %}
            <p>z Kategorii : {{ catname.name }}</p>
            {% endif %}
        </header>
            {% for a in articles %}
            <div class="post">
                    <div class="posttitle">
                        <h2>{{ a.title }}</h2>
                    </div>
                    <div class="postimg">
                        {% with a.articleimage_set.all|first as image %}
                            {% if image %}
                                <img src="{{ image.photo.url }}" alt="{{ image.title }}">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="posttxt">
                        <p>{{ a.text|truncatewords:50 }}</p>
                    </div>
                    <div class="postbtn">
                        <a href="/article/{{ a.id }}"><button>Czytaj dalej</button></a>
                    </div>

            </div>
            {% endfor %}

        </div>

    </section>
{% endblock %}