{% extends 'layout.html' %}
{% load static %}

{% block content%}
    <section id="blog">
        <div class="posts">
        <header>
            <h2>
                Witaj na naszym blogu!
            </h2>
            <p>Serdecznie zachecamy do zapoznania się z wpisami </p>
        </header>
            {% for p in blogpost %}
            <div class="post">
                    <div class="posttitle">
                        <h2>{{ p.title }}</h2>
                    </div>
                    <div class="postimg">
                        {% with p.blogpostimage_set.all|first as image %}
                            {% if image %}
                                <img src="{{ image.photo.url }}" alt="{{ image.title }}">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="posttxt">
                        <p>{{ p.text|truncatewords:50 }}</p>
                    </div>
                    <div class="postbtn">
                        <a href="/blogpost/{{ p.id }}"><button>Czytaj dalej</button></a>
                    </div>

            </div>
            {% endfor %}

        </div>

    </section>
{% endblock %}